body {
     font-family: tahoma,sans-serif;
    margin: 0;
    padding: 0;
}
.clear{clear:both;}
section {
    margin: 0 auto;
    width:100%;
    position: relative;
    text-align: center;
}
section:not(.nonBlack){background-color: #000;}
[data-behind] {
    left: 0;
    /*position: : absolute;*/
    top: 0;
    width: 100%;
    z-index: -1;
}
[data-front] {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
}
/* First Layer landing */
.semiblack-bg{ background-color: rgba(0,0,0,0.5)}
.top-bg {
    background-image: url("images/top_img.png");
    background-position: 50% 1px;
    background-size: cover;
    background-attachment: fixed;
    height: 674px;
    width: 100%;
}
#firstlayer{
	/*background: url("images/texture.png") repeat scroll 0 0 / 5px 5px #000000;*/
	/*opacity: 0.55;*/
	background-color: rgba(0,0,0,0.8)!important;
	width:100%;
}
h1 {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    left: 20%;
    padding: 30px 26%;
    position: absolute;
    text-transform: uppercase;
    top: 200px;
}
/*  About us section */
.separator {
    background: url("images/separator.png") no-repeat scroll 0 0  rgba(0, 0, 0, 0);
    height: 200px;
    width: 100%;
}

.about-content {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-top: 10px;
    vertical-align: top;
    width: 740px;
}

#about img {display: inline-block;}

/* projects */

#work .projects {
    list-style: outside none none;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}

.projects > li {
    display: inline-block;
    margin: 10px 0;
    opacity: 0.46;
    transition: opacity 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s;
    vertical-align: top;
}
.projects > li:hover{
	opacity: 1;
}